build --cxxopt=-std=c++20 --cxxopt=-Wall --cxxopt=-Werror --host_cxxopt=-std=c++20
build --action_env=SNPSLMD_LICENSE_FILE
build --action_env=VCS_HOME
build --sandbox_tmpfs_path=/tmp
build --action_env=CC=clang --action_env=CXX=clang++ --host_action_env=CC=clang --host_action_env=CXX=clang++
